.main_container {
  width: 50%;
  min-height: 100%;

  display: flex;
  justify-content: center;
  font-size: 42px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  overflow: hidden;
}

.main_container p {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding-top: 35px;
  animation: text 5s infinite linear;
  padding-left: 100%;
  white-space: nowrap;
}
@keyframes text {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-160%, 0);
  }
}
/* .container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
} */
.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
  color: #000;
}
