.layout_navigation {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px color(srgb 0 0 0);
}
.homepage,
.layout_list a {
  list-style: none;
  text-decoration: none;
  color: #282830;

  font-weight: 500;
  font-size: 20px;

  letter-spacing: 0.03em;

  background-color: cadetblue;
  border: 2px solid rgba(16, 128, 109, 0.412);
  border-radius: 8px;
  padding: 10px;
}
.layout_list a:hover,
.layout_list a:focus .homepage:hover,
.homepage:focus {
  background-color: yellowgreen;
}

.layout_list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: auto;
}
.header {
  border: 1px solid #282830;
}
.wellcome {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;

  letter-spacing: 0.03em;
}
